@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SeasonVF';
  src: url('../fonts/SeasonVFTRIALVF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}




html,
body {
  scroll-behavior: smooth;
  font-family: 'SeasonVF';
  @apply font-serif text-root md:text-root-md;
}


:root {
  --main: 60%;
  --offset: 20%;
}

@media (max-width: 1000px) {
  :root {
      --main: 60%;
    }
}