@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SeasonSans';
  src: url('../fonts/SeasonSans-Medium.otf') format('truetype'),
    url('../fonts/SeasonSans-Medium.woff') format('woff'),
    url('../fonts/SeasonSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SeasonSans';
  src: url('../fonts/SeasonSans-SemiBold.otf') format('truetype'),
    url('../fonts/SeasonSans-SemiBold.woff') format('woff'),
    url('../fonts/SeasonSans-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SeasonSerif';
  src: url('../fonts/SeasonSerif-Medium.otf') format('truetype'),
    url('../fonts/SeasonSerif-Medium.woff') format('woff'),
    url('../fonts/SeasonSerif-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SeasonSerif';
  src: url('../fonts/SeasonSerif-SemiBold.otf') format('truetype'),
    url('../fonts/SeasonSerif-SemiBold.woff') format('woff'),
    url('../fonts/SeasonSerif-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




html,
body {
  font-family: 'SeasonVF';
  font-feature-settings: "ss02" on;
  @apply font-serif text-root md:text-root-md sm:text-root-sm;
}

body {
  overflow-y: scroll;
  position: relative;
}


:root {
  /* COLUMNS LAYOUT GALLERY*/
  --column-l: 21.62vw;
  --column-r: 11vw;
  --main-w: calc(100% - var(--column-r) - var(--column-l) - var(--spacing-sm));

  --column-l-translate: calc(50vw - var(--column-l) + var(--spacing-xs) / 2);
  --column-r-translate: calc(50vw - var(--column-r) + var(--spacing-xs) / 2);

  /*IMAGES*/
  --image-w: 75%;
  --remaining-w: calc(100% - var(--image-w));

  --tag-h: 4.18rem;
  --tag-top: 2.8rem;
  --heading-h: 5.625rem;
  --offset-bttom: 30vh;
  --offset-content: calc(var(--tag-h) + var(--spacing-xs) + var(--tag-top));
  --remaining-content: calc(100dvh - var(--heading-h) - var(--offset-content) - (var(--tag-h) + var(--tag-top) * 2) - var(--spacing-sm));
  --logotype: 6.95rem;


  --intro-image-w: 3rem;
  --intro-image-h: 1.8rem;

  --intro-pl: 11.4rem;
  --intro-pr: 11.85rem;
  --intro-pb: calc(var(--tag-h) + 1.3rem - 1px);
  --intro-pt: calc(var(--tag-h));


  --intro-container-h: calc(100vh - var(--intro-pt) - var(--intro-pb));
  --intro-container-w: calc(100vw - var(--intro-pl) - var(--intro-pr));

  /*SPACING*/
  --spacing-xs: 0.375rem;
  --spacing-sm: 1.875rem;
  --spacing-md: 3.75rem;

  --intro: 0;
  --intro-md:
}



@media (max-width: 1000px) {
  :root {
    --main-w: calc(100% - var(--column-r) - var(--column-l));
    --image-w: 85%;
    --column-l: 8vw;
    --column-r: 8vw;
    --intro-pl: 0;
    --intro-pr: 0;
    
    --intro-pb: calc(var(--logotype) - 1px);
    --intro-pt: calc(var(--logotype) - 1px);
  }
}